.Portfolio {
    height: 1750px;
/* Makes numbers bigger, font issue */
    font-variant-numeric: tabular-nums;
}

/* Makes superscripts smaller, font issue */
.Portfolio sup {
    font-size: 15px;
}

.Portfolio h2 {
    font-size: 30px;
    padding: 12px;
    letter-spacing: 2px;
}

.Portfolio h3 {
    text-decoration: underline;
    font-size: 24px;
    /* margin: -50px; */
}

/* Indent paragraphs */
.indent {
    text-indent: 30px;
}

/* Image sizes and spacing */
.Portfolio section img {
    height: 195px;
    width: 245px;
    /* float: right; */
    /* margin: -50px -15px 20px 10px; */
    border: outset;
    border-radius: 80px;
    border-width: 6px;
}

.first-project {
    background-color:rgba(255, 255, 255, 0.491);
    font-size: 18px;
    text-align: justify;
    border: inset; 
    border-radius: 80px;
    border-width: 6px; 
    padding: 30px;
    /* padding-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-bottom: 50px;
}

.second-project {
    background-color:rgba(255, 255, 255, 0.491);
    font-size: 18px;
    text-align: justify;
    border: inset; 
    border-radius: 80px;
    border-width: 6px; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 450px; */
    margin-bottom: 50px;
}

.third-project {
    background-color:rgba(255, 255, 255, 0.491);
    font-size: 18px;
    /* text-align: justify; */
    border: inset; 
    border-radius: 80px;
    border-width: 6px; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding-bottom: 0px;
    /* height: 450px; */
    margin-bottom: 50px;
}